
@{
    ViewBag.Title = "Msg";
    Layout = "~/Views/_Home.cshtml";
}

<div class="jumbotron">
    <div class="container">
        <a href="/"><img src="~/Content/img/graphstory-practical-neo4j.png" class="img-responsive" /></a>
        <p class="pad">
            The leading graph-as-a-service provider
            <h2>@ViewBag.Message</h2>
           
    </div>
</div>
<div class="container">
